h1 {
   color: white;
   background-color: #32a869;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


table {
    border: black;
    border-color: black;
    background-color: green;
    width: auto;
    height: auto;
}